<!DOCTYPE HTML>
<html>
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div>Список пользователей и использованых ими формами за последний час:</div>
<table border="1" width="100%" cellpadding="5">
    {{#UsedForms}}
        <tr>
            <th>{{ssoid}}</th>
            <th>{{formid}}</th>
        </tr>
    {{/UsedForms}}


</body>
</html>